<!DOCTYPE html>
<html lang="{{ .Language.LanguageCode }}" dir="ltr">
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  <a href="#main-content" class="skip-link visually-hidden">{{ i18n "skip_to_content" }}</a>
  {{- partial "header.html" . -}}

  <main id="main-content">
    {{- block "main" . }}{{ end -}}
  </main>

  {{- partial "footer.html" . -}}

  {{ $js := resources.Get "js/main.js" | minify | fingerprint }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
</body>
</html>
