{{ $page := . }}
{{ range .Sites }}
  {{ $thisLang := .Language }}
  {{ if eq $thisLang.Lang $page.Lang }}
    <span class="lang-switch lang-switch--active" aria-current="true">{{ upper $thisLang.LanguageCode }}</span>
  {{ else }}
    {{ $href := .Home.RelPermalink }}
    {{ range $page.Translations }}
      {{ if eq .Lang $thisLang.Lang }}
        {{ $href = .RelPermalink }}
      {{ end }}
    {{ end }}
    <a href="{{ $href }}" class="lang-switch" lang="{{ $thisLang.LanguageCode }}" hreflang="{{ $thisLang.LanguageCode }}">{{ upper $thisLang.LanguageCode }}</a>
  {{ end }}
{{ end }}
